<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remon.springboot2.dao.ResourceDao">

    <select id="getResourceById" resultType="Resource">
        SELECT
              resourceid, parentid, accesspath, checked, delFlag, resourceCode, resourceGrade, resourceName, resourceOrder, resourceType
        FROM resource
        WHERE resourceid = #{id}
    </select>
    <select id="getResources" resultType="Resource">
        SELECT
              resourceid, parentid, accesspath, checked, delFlag, resourceCode, resourceGrade, resourceName, resourceOrder, resourceType
        FROM resource
        WHERE delFlag=0
    </select>
    <select id="getResourcesByType" resultType="Resource">
        SELECT
              resourceid, parentid, accesspath, checked, delFlag, resourceCode, resourceGrade, resourceName, resourceOrder, resourceType
        FROM resource
        WHERE resourceType = #{type}
    </select>
    <select id="getResourcesByNameAndType" resultType="Resource">
        SELECT
              resourceid, parentid, accesspath, checked, delFlag, resourceCode, resourceGrade, resourceName, resourceOrder, resourceType
        FROM resource
        WHERE delFlag=0
        <if test="name != null and name != ''">
            <bind name="namepattern" value="'%' + name + '%'" />
            and resourceName like  #{namepattern}
        </if>
        <if test="type != null and type != ''">
            and resourceType = #{type}
        </if>
    </select>
    <select id="getResourcesByCond" resultType="Resource">
        SELECT
        resourceid, parentid, accessPath, checked, delFlag, resourceCode, resourceGrade
        , resourceName, resourceOrder, resourceType
        FROM resource
        WHERE delFlag=0
        <if test="Rsrc.resourceID != null and Rsrc.resourceID != ''">
            and resourceID = #{Rsrc.resourceID}
        </if>
        <if test="Rsrc.parentID != null and Rsrc.parentID != ''">
            and parentID = #{Rsrc.parentID}
        </if>
        <if test="Rsrc.accessPath != null and Rsrc.accessPath != ''">
            and accessPath = #{Rsrc.accessPath}
        </if>
        <if test="Rsrc.checked != null and Rsrc.checked != ''">
            and checked = #{Rsrc.checked}
        </if>
        <if test="Rsrc.resourceCode != null and Rsrc.resourceCode != ''">
            and resourceCode = #{Rsrc.resourceCode}
        </if>
        <if test="Rsrc.resourceGrade != null and Rsrc.resourceGrade != ''">
            and resourceGrade = #{Rsrc.resourceGrade}
        </if>
        <if test="Rsrc.resourceName != null and Rsrc.resourceName != ''">
            <bind name="namepattern" value="'%' + Rsrc.resourceName + '%'" />
            and resourceName like  #{namepattern}
        </if>
        <if test="Rsrc.resourceType != null and Rsrc.resourceType != ''">
            and resourceType = #{Rsrc.resourceType}
        </if>
    </select>
    <update id="updateResource">
        UPDATE resource
        SET
            parentid=#{Rsrc.parentId},
            accesspath=#{Rsrc.accessPath},
            checked=#{Rsrc.checked},
            delFlag=#{Rsrc.delFlag},
            resourceCode=#{Rsrc.resourceCode},
            resourceGrade=#{Rsrc.resourceGrade},
            resourceName=#{Rsrc.resourceName},
            resourceOrder=#{Rsrc.resourceOrder},
            resourceType=#{Rsrc.resourceType}
        WHERE resourceid = #{di.id}
    </update>
    <insert id="insertResource">
        INSERT INTO
            resource(parentid, accesspath, checked, delFlag, resourceCode, resourceGrade, resourceName, resourceOrder, resourceType)
            VALUES (
                #{Rsrc.parentId},
                #{Rsrc.accessPath},
                #{Rsrc.checked},
                #{Rsrc.delFlag},
                #{Rsrc.resourceCode},
                #{Rsrc.resourceGrade},
                #{Rsrc.resourceName},
                #{Rsrc.resourceOrder},
                #{Rsrc.resourceType}
            )
    </insert>
    <delete id="deleteResource">
        DELETE resource WHERE resourceid = #{id}
    </delete>

</mapper>